& {
  display: flex;
  align-items: center;
}

.grade-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.grade-comment {
  margin-left: 1rem;
}

&.neutral {
  color: $color-font;
}

&.bad {
  color: $color-error;
}

&.ok {
  color: $color-warning;
}

&.good{
  color: $color-success;
}
