.box-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  justify-content: space-between;
}

.box-list-item {
  width:  155px;
  height: 155px;
  background-color: $color-secondary;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  &--new {
    align-items: center;
    justify-content: center;

    i {
      font-size: 64px;
    }
  }
}

.box-list-item-title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 120%;
}

.box-list-item-body {
  font-size: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
}
