.text-primary   { color: $color-primary;   }
.text-secondary { color: $color-secondary; }
.text-error     { color: $color-error;     }
.text-warning   { color: $color-warning;   }
.text-success   { color: $color-success;   }

.bg-primary   { background-color: $color-primary;   }
.bg-secondary { background-color: $color-secondary; }
.bg-error     { background-color: $color-error;     }
.bg-warning   { background-color: $color-warning;   }
.bg-success   { background-color: $color-success;   }
