.ember-basic-dropdown-content {
  width: 100%;
  background-color: $color-secondary;
  padding: 1rem 0;

  .ember-power-calendar-day--current-month {
    background-color: $color-bg !important;

    &:hover {
      background-color: lighten($color-bg, 5%) !important;
    }
  }

  .ember-power-calendar-day--other-month {
    background-color: $color-secondary !important;
  }

  .ember-power-calendar-day--selected {
    background-color: $color-primary !important;
  }
}
