body.loading .loader-container {
  display: block;
}

.loader-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.loader {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $color-primary;
}

.loader:before{
  content: '';
  position: absolute;
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: lighten($color-secondary, 10%);
  animation: loading 1500ms linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
