@import 'bootstrap';
@import 'flat-ui';
@import 'sign-in';
@import 'pod-styles';

@brand-primary: @midnight-blue;
@brand-secondary: @belize-hole;

html {
  height: 100vh;
}

body.ember-application {
  min-height: 100%;
  display: flex;
}

body.ember-application > .ember-view {
  flex-grow: 1;
  display: flex;
}

main {
  flex-grow: 1;
  min-width: 320px;
}

.loading-slider {
  z-index: 1031;
}

.loading-slider > span {
  background-color: @brand-secondary;
}

.pointer {
  cursor: pointer;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  height: 30px;
  margin-right: 10px;
}
