@import 'normalize';
@import 'ionicons';
@import 'ember-power-calendar';
@import 'ember-basic-dropdown';

@import 'variables';
@import 'colors';
@import 'loading';
@import 'sign';
@import 'box-list';
@import 'grade-list';
@import 'datepicker';

@import 'pod-styles';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button, input {
  outline: none;
}

html {
  font-family: 'Quicksand';
  font-weight: 500;
  color: $color-font;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  background-color: $color-bg;
}

body > .ember-view {
  display: flex;
  flex-grow: 1;
}

body > .ember-view > .liquid-container > .liquid-child {
  overflow: hidden;
}

body > .ember-view > .liquid-container .main-content {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: $sx-navigation-height;
}

body.has-toolbar > .ember-view > .liquid-container .main-content {
  margin-top: $sx-toolbar-height;
}

body.has-tabs > .ember-view > .liquid-container .main-content {
  margin-top: $sx-tabs-height;
}

body.has-toolbar.has-tabs > .ember-view > .liquid-container .main-content {
  margin-top: $sx-toolbar-height + $sx-tabs-height;
}

.clickable {
  cursor: pointer;
}

/* liquid fire fix */
.liquid-container, .liquid-child {
  overflow: visible;
}

.liquid-container.liquid-animating,
.liquid-container.liquid-animating .liquid-child {
  overflow: hidden;
}

.liquid-container, .liquid-child {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
