@import 'normalize';
@import 'ionicons';
@import 'ember-power-calendar';
@import 'ember-basic-dropdown';

@import 'variables';
@import 'colors';
@import 'loading';
@import 'sign';
@import 'box-list';
@import 'grade-list';
@import 'goal-list';
@import 'goal-detail';
@import 'datepicker';

@import 'pod-styles';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button, input {
  outline: none;
}

html {
  font-family: 'Quicksand';
  font-weight: 500;
  color: $color-font;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  background-color: $color-bg;
}

body > .ember-view {
  display: flex;
  flex-grow: 1;
}

body > .ember-view > .ember-view {
  overflow: hidden;
}

body .main-content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: $sx-navigation-height;
}

body.has-toolbar .main-content {
  padding-top: $sx-toolbar-height;
}

body.has-tabs .main-content {
  padding-top: $sx-tabs-height;
}

body.has-toolbar.has-tabs .main-content {
  padding-top: $sx-toolbar-height + $sx-tabs-height;
}

.clickable {
  cursor: pointer;
}
