.login, .register {
  background-color: color($primary);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    img {
      height: 60px;
      margin-right: 10px;
    }
  }
}
