<h1 class="title">{{t 'dashboard.title'}}</h1>

<div class="row">
  <div class="col-md-6">
    {{ember-chart type='line' data=model width=200 height=200}}
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Current Average
      </div>
      <div class="panel-body">
        3.5
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        Last Grade
      </div>
      <div class="panel-body">
        5
      </div>
    </div>
  </div>
</div>
