& {
  position: fixed;
  top: $sx-toolbar-height;
  left: 0;
  right: 0;
  z-index: 9000;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-secondary;
}
