<table>
  <thead>
    <tr>
      <th>{{t 'schools.name'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |school|}}
      {{#unless school.isDeleted}}
        {{#link-to 'schools.edit' school tagName='tr' class='pointer'}}
          <td>{{school.name}}</td>
        {{/link-to}}
      {{/unless}}
    {{^}}
      <tr>
        <td class="text-center">{{t 'schools.empty'}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{add-button onClick=(transition-to 'schools.new')}}
