<form {{action 'save' on='submit'}}>
  {{sx-select
    data        = semesters
    value       = (if model.semester model.semester.id null)
    placeholder = (t 'timetable.subjects.selectSemester')
    labelKey    = 'name'
    valueKey    = 'id'
    onSelect    = (route-action 'setSemester')
  }}

  {{sx-input valid=(v-get model 'name' 'isValid') value=model.name placeholder=(t 'timetable.subjects.enterName')}}

  {{#sx-button enabled=(v-get model 'isValid') type='submit'}}{{t 'save'}}{{/sx-button}}
</form>
