<div class="sx-grade-input-minus">
  {{sx-icon 'ios-minus-empty' click=(action 'minus')}}
</div>
<div class="sx-grade-input-score">
  {{input type='text' value=parsed readonly=true}}
</div>
<div class="sx-grade-input-plus">
  {{sx-icon 'ios-plus-empty' click=(action 'plus')}}
</div>
