<header class="sign-header">
  <h1>{{sx-icon 'android-checkmark-circle'}} sächsi</h1>

  <ul class="sign-header-nav">
    <li>{{#link-to 'sign.in'}}{{t 'sign.in'}}{{/link-to}}</li>
    <li>{{#link-to 'sign.up'}}{{t 'sign.up'}}{{/link-to}}</li>
  </ul>
</header>

<section class="sign-body">
  {{liquid-outlet}}
</section>
