<main class="main">
  {{#paper-form onSubmit=(route-action 'login') as |form|}}
    {{#paper-card as |card|}}
      {{#card.content}}
        <div class="logo">
          <img src="assets/logo.svg">
          sächsi
        </div>
        <div class="layout layout-column">
          {{form.input icon='person' label=(t 'login.email') value=email onChange=(action (mut email))}}
          {{form.input icon='lock' type='password' label=(t 'login.password') value=password onChange=(action (mut password))}}
        </div>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button onClick=(transition-to 'register')}}{{t 'login.register'}}{{/paper-button}}
        {{#form.submit-button accent=true}}{{t 'login.login'}}{{/form.submit-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/paper-form}}
</main>
