& {
  background-color: color($primary);
}

.bm-menu {
  display: flex;
  flex-direction: column;
}

md-list-item {
  cursor: pointer;
  color: white;
}

md-list-item md-icon {
  color: white;
  margin-right: 10px;
}

md-list {
  max-height: 100%;
  overflow-y: auto;
}

.bm-menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px 0;
}

.bm-menu-header > img {
  height: 50px;
}

.bm-menu-header > span {
  font-size: 25px;
  margin-left: 10px;
}

.bm-content md-toolbar {
  position: fixed;
  top: 0;
}
